/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/background.png');
    background-size: cover;
    z-index: -20;
    color: #543e34;
}

table {
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto; 
}
th, td {
    border: 1px solid #738245;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #a6b575;
}
td {
    background-color: #ecebe4;
}

h1 {
    text-align: center;
    color: #543e34;
}
.index-page {
    border: 1px solid #95a189;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #ecebe4;
    z-index: -1;
    text-align: center;
}
.result-container {
    border: 1px solid #95a189;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #ecebe4;
    z-index: -1;
}
.result-item {
    margin-bottom: 10px;
}
.result-item label {
    font-weight: bold;
}
.result-item span {
    margin-left: 10px;
}
